<% content_for :title do %>aqueducts dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="products" data-view="Number" data-title="Products Count:" data-moreinfo="online" data-prefix="" style="background-color:#FF0097"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="latency" data-view="Graph" data-title="Delay seconds from Event Trigger to Insert" style="background-color:#6E155F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="service_status" data-view="ServiceStatus" data-title="Service Status" style="background-color:#4EB3B9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services" data-view="Number" data-title="Services Count:" data-moreinfo="online" data-prefix="" style="background-color:#96B232"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bytesIn" data-view="Graph" data-title="kafka In per Second" style="background-color:#A05000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="bytesOut" data-view="Graph" data-title="kafka Out per Second" style="background-color:#E671BB"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="messagesIn" data-view="Graph" data-title="kafka Messages In per Second" style="background-color:#DE9317"></div>
    </li>

  </ul>
</div>
