<% content_for :title do %>aqueducts dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="products" data-view="Number" data-title="Products:" data-moreinfo="online" data-prefix="" style="background-color:#96B232"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="latency" data-view="Graph" data-title="Delay" data-moreinfo="include transportion time" style="background-color:#065FB9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="services" data-view="Number" data-title="Services:" data-moreinfo="online" data-prefix="" style="background-color:#96B232"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="serviceStatusHuaBei" data-view="ServiceStatus" data-title="HB Service Status" data-moreinfo="service usability" style="background-color:#4EB3B9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesInHuaBei" data-view="Graph" data-title="HB kafka In" data-moreinfo="Bytes per second" style="background-color:#A05000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesOutHuaBei" data-view="Graph" data-title="HB kafka Out" data-moreinfo="Bytes per second" style="background-color:#4C4C4C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="messagesInHuaBei" data-view="Graph" data-title="HB kafka MSGS In" data-moreinfo="MSGS per second" style="background-color:#036803"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesInHuaDong" data-view="Graph" data-title="HD kafka In" data-moreinfo="Bytes per second" style="background-color:#A05000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesOutHuaDong" data-view="Graph" data-title="HD kafka Out" data-moreinfo="Bytes per second" style="background-color:#4C4C4C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="messagesInHuaDong" data-view="Graph" data-title="HD kafka MSGS In" data-moreinfo="MSGS per second" style="background-color:#036803"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="serviceStatusHuaDong" data-view="ServiceStatus" data-title="HD Service Status" data-moreinfo="service usability" style="background-color:#4EB3B9"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesInTotal" data-view="Graph" data-title="Total kafka In" data-moreinfo="Bytes per second" style="background-color:#A05000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bytesOutTotal" data-view="Graph" data-title="Total kafka Out" data-moreinfo="Bytes per second" style="background-color:#4C4C4C"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="messagesInTotal" data-view="Graph" data-title="Total kafka MSGS In" data-moreinfo="MSGS per second" style="background-color:#036803"></div>
    </li>

  </ul>
</div>
